.wrapper-outer {
    max-width: 1600px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

.button {
    padding: 15px 40px;
}

span {
    display: block;
}

.about,
.info,
.profile {
    background: $bg-color;
}

.articles,
.gallery {
    background: $secondary-color;
}

footer {
    background: $primary-color;
}