.main-header {
    background-image: url(../assets/header-image.jpg);
    background-size: cover;
    background-position: center;
    height: 750px;

    .main-header-content {
        display: flex;
        
        img {
            margin-top: 80px;
        }
    }

}