.main-header {
    background-image: url(../assets/header-image.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;

    .main-header-content {
        display: flex;
    }

    img {
        position: relative;
        top: 80px;
    }
}