// Header styles
.main-page {
    background-image: url(../assets/header-image.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: $bg-color;

    .main-header-content {
        display: flex;

        .main-header-title {
            width: 40%;
            margin-bottom: 0;
            display: flex;
            justify-content: flex-end;

            h1 {
                width: 480px;
            }
        }
        
        .main-header-img {
            margin-top: 80px;
            width: 60%;
            display: flex;
            justify-content: flex-end;
        }
    }
}

// About section styles
.about {
    padding: 30px 20px 220px 20px;

    p {
        padding: 0 70px 20px 70px;
    }

    .button-find-out {
        text-align: center;

        a {
            background: $primary-color;
            color: $bg-color;
        }
    }
}

// Article section styles 
.article-summary {
    display: flex;
    justify-content: space-between;

    .article-content-one,
    .article-content-two {
        padding: 40px 0;
    }

    & > * {
        flex: 0 0 42%;
    }

    a {
        background: $bg-color;
    }

    p {
       margin-bottom: 40px; 
    }
}

.article-img-one img {
    transform: translateY(-40px);
    box-shadow: 40px 40px $primary-color;
}

.article-img-two {
    order: 1;
    display: flex;
    align-items: flex-end;

    img {
        transform: translateY(50px);
        box-shadow: -40px 40px $primary-color;
    }
}

.article-content-one p {
    padding-right: 152px;
}

.article-content-two {
    text-align: right;

    p {
        padding-left: 152px;
    }
}

// Info section styles

.info {
    padding: 170px 20px 100px 20px;
    
    .info-container {
        display: flex;
        flex-wrap: wrap;
    
        .info-content {
            display: flex;
            width: calc(50% - 10px);
            margin-right: 10px;
    
            h4 {
                margin: 10px 0 35px 0;
            }

            i {
                border-radius: 50%;
                padding: 10px;
                background: $primary-color;
                color: $bg-color;
                margin-right: 20px;
            }
        }
    }
}

// Full image styles
.full-img {
    background: url(../assets/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 40vw;
}

// Profile section styles

.profile {
    padding: 120px 20px 85px 20px;

    .profile-container {
        display: flex;

        .profile-content {
            width: calc((100% / 3) * 2);

            h3 {
                text-align: left;
                margin-top: 0;
            }

            p {
                margin-bottom: 50px;
            }

            a {
                background: $primary-color;
                color: $bg-color;
            }
        }
        
        .profile-img {
            width: calc(100% / 3);
            flex-shrink: 0;

            img {
                box-shadow: 40px 35px $primary-color;
            }
        }
    }
}

// Gallery section styles

.gallery {
    padding: 100px 20px;

    div {
        display: flex;
        justify-content: space-between;
    }
}



    