.main-nav ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;

    li {
        list-style-type: none;
    }
    
    a {
        padding: 20px;
        display: inline-block;
    
        &:hover {
            color: $primary-color;
        }
    }
}


