.main-nav ul {
    display: flex;
    justify-content: flex-end;

    li {
        list-style-type: none;
    }
    
    a {
        padding: 20px;
    
        &:hover {
            color: $primary-color;
        }
    }
}


