@media (max-width: 1280px) {
    h1 {
        font-size: 10rem;
        line-height: 10.5rem;
        padding-left: 50px;
    }

    .article-summary {
        & > * {
            flex-basis: 48%;
        }

        .article-content-one,
        .article-content-two {
            text-align: center;
            padding: 20px;

            p {
                padding: 0;
            }
        }
    }
}

@media (max-width: 1170px) {
    .article-summary {
        flex-direction: column;

        & > * {
            width: 100%;
        }

        .article-img-one img,
        .article-img-two img {
            transform: none;
            box-shadow: none;
            width: 100%;
        }

        .article-img-two {
            order: 0;
        }
    }

    .profile .profile-container {
        .profile-content {
            text-align: center;
            padding: 20px;

            h3 {
                text-align: center;
            }
        }
    } 
}

@media (max-width: 1000px) {
    .main-page .main-header-content {
        h1 {
            font-size: 8rem;
            line-height: 8rem;
        }

        .main-header-img {
            margin-top: 0;
            max-width: 40%;
            display: block;
        }
    }

    h3 {
        font-size: 3.6rem;
    }

    .profile {
        padding: 40px 20px;

        .profile-container {
            flex-direction: column;
            align-items: center;

            .profile-img img {
                box-shadow: none;
                padding-bottom: 20px;
            }

            .profile-content {
                width: 100%;
            }
        }
    } 
}

@media (max-width: 820px) {
    .main-page .main-header-content {
        .main-header-title h1 {
            font-size: 6.5rem;
            line-height: 6rem;
            // width: 50%;
        }
    }
}

@media (max-width: 768px) {
    .main-page .main-header-content {
        h1 {
            text-align: center;
        }
    }

    h4 {
        font-size: 2.6rem;
    }

    .about {
        padding-bottom: 100px;

        p {
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }
    }

    .info {
        padding: 40px 20px;
    }
}

@media (max-width: 680px) {
    .main-page .main-header-content {
        .main-header-img {
            display: none;
        }

        h1 {
            margin-top: 0;

        }
    }

    .info {
        .info-container {
            display: block;

            .info-content {
                width: 90%;
                margin: 0 auto;
            }
        } 
    }
}

@media (max-width: 600px) {
    .main-page .main-header-content {
        .main-header-title {
            width: 50%;
            
            h1 {
                font-size: 4rem;
                line-height: 4rem;
                padding-left: 0;
                padding-bottom: 50px; 
            }
        }  
    }

    .gallery {
        padding: 40px 40px;

        div {
            flex-direction: column;
            max-width: 90%;
        }
    }
}

@media (max-width: 480px) {
    .info .info-container .info-content {
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;

        i {
            margin-right: 0;
        }
    }

    p {
        font-size: 1.8rem;
    }
}

@media (max-width: 400px) {
    .main-page {
        background-size: auto 250px;
        background-position: 50% 0;
    }
}