article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.wrapper-outer {
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.button {
  padding: 15px 40px;
}

span {
  display: block;
}

.upper {
  text-transform: uppercase;
}

.about,
.info,
.profile {
  background: #0c1423;
}

.articles,
.gallery {
  background: #0f614e;
}

footer {
  background: #86e0f9;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
a,
.button {
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 13.8rem;
  line-height: 12.6rem;
}

h2 {
  font-size: 8rem;
  line-height: 9.2rem;
}

h3 {
  font-size: 4.2rem;
}

h4 {
  font-size: 3.2rem;
  letter-spacing: 1px;
}

h3,
a,
.button {
  text-align: center;
  letter-spacing: 1px;
}

a {
  line-height: 2.9rem;
  color: #ffffff;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0;
}

.main-nav ul li {
  list-style-type: none;
}

.main-nav ul a {
  padding: 20px;
  display: inline-block;
}

.main-nav ul a:hover {
  color: #86e0f9;
}

.main-header {
  background-image: url(../assets/header-image.jpg);
  background-size: cover;
  background-position: center;
  height: 750px;
}

.main-header .main-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header .main-header-content img {
  margin-top: 80px;
}

.about {
  padding: 160px 0 220px 0;
}

.about p {
  padding: 0 70px 20px 70px;
}

.about .button-find-out {
  text-align: center;
}

.about .button-find-out a {
  background: #86e0f9;
  color: #0c1423;
}

.article-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-summary > div:not(.article-img-one) {
  padding: 40px 0;
}

.article-summary > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
}

.article-summary a {
  background: #0c1423;
}

.article-summary p {
  margin-bottom: 40px;
}

.article-img-one img {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-box-shadow: 40px 40px #86e0f9;
          box-shadow: 40px 40px #86e0f9;
}

.article-img-two {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.article-img-two img {
  -webkit-transform: translateY(90px);
          transform: translateY(90px);
  -webkit-box-shadow: -40px 40px #86e0f9;
          box-shadow: -40px 40px #86e0f9;
}

.article-content-two {
  text-align: right;
}

.info {
  padding: 170px 0 100px 0;
}

.info .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info .info-container .info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 10px);
  margin-right: 10px;
}

.info .info-container .info-content h4 {
  margin: 10px 0 35px 0;
}

.info .info-container .info-content i {
  border-radius: 50%;
  padding: 10px;
  background: #86e0f9;
  color: #0c1423;
  margin-right: 20px;
}

.full-img {
  background: url(../assets/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.profile {
  padding: 120px 0 85px 0;
}

.profile .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .profile-container .profile-content {
  width: calc((100% / 3) * 2);
}

.profile .profile-container .profile-content h3 {
  text-align: left;
  margin-top: 0;
}

.profile .profile-container .profile-content p {
  margin-bottom: 50px;
}

.profile .profile-container .profile-content a {
  background: #86e0f9;
  color: #0c1423;
}

.profile .profile-container .profile-img {
  width: calc(100% / 3);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.profile .profile-container .profile-img img {
  -webkit-box-shadow: 40px 35px #86e0f9;
          box-shadow: 40px 35px #86e0f9;
}

.gallery {
  padding: 100px 0;
}

.gallery div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-page {
  background: #0c1423;
  background-image: url(../assets/blog-header.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.blog-page main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-main {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 65%;
          flex: 1 0 65%;
  border: 1px solid red;
}

.blog-main h2 {
  padding-left: 40px;
}

.blog-main .blog-article-text {
  padding: 90px 0 25px 50px;
  border-left: 4px solid #86e0f9;
  border-bottom: 4px solid #86e0f9;
}

.blog-main .blog-article-text h3 {
  margin: 0;
  text-align: left;
}

.blog-main .blog-article-text p {
  margin: 0;
}

.blog-main .blog-article-text p:nth-of-type(1) {
  margin: 20px 0 60px 0;
}

.blog-main .blog-article-img {
  -webkit-box-shadow: -40px 50px #86e0f9;
          box-shadow: -40px 50px #86e0f9;
  position: relative;
  left: 40px;
}

.blog-article-text,
.comments-container,
.my-form {
  margin-right: 150px;
}

.comments-container {
  padding-left: 40px;
}

.comments-container .comment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.comments-container .comment-box div:nth-child(1) {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.comments-container .comment-box .comment-text p {
  margin-top: 0;
  padding-left: 35px;
}

.my-form {
  margin-bottom: 85px;
}

.my-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.my-form fieldset .email,
.my-form fieldset .name {
  width: calc(50% - 50px);
  border: none;
  border-bottom: 1px solid #86e0f9;
}

.my-form fieldset .email:not(.email),
.my-form fieldset .name:not(.email) {
  margin-right: 50px;
}

.my-form fieldset .email,
.my-form fieldset .name,
.my-form fieldset textarea {
  background: #0c1423;
  color: #ffffff;
  padding: 20px;
}

.my-form fieldset textarea {
  width: 100%;
  margin: 35px 0 40px;
  border: 1px solid #86e0f9;
}

.my-form fieldset input[type=submit] {
  width: 100%;
  color: #ffffff;
  background: #0f614e;
  border: none;
  padding: 10px;
}

.blog-aside-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35%;
          flex: 1 0 35%;
  border: 1px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 620px;
  margin-right: 5%;
}

.blog-aside-container .blog-aside {
  background: #0f614e;
  width: 70%;
}

.blog-aside-container .blog-aside-img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.contact-page {
  background: #0c1423;
  background-image: url(../assets/contact-header.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 165px;
}

.contact {
  border: 1px solid red;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 75%;
          flex: 1 0 75%;
}

.contact .contact-my-form {
  background: #0f614e;
  padding: 60px 65px;
  -webkit-box-shadow: -40px 40px #86e0f9;
          box-shadow: -40px 40px #86e0f9;
}

.contact .contact-my-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.contact .contact-my-form fieldset .name,
.contact .contact-my-form fieldset .email,
.contact .contact-my-form fieldset textarea {
  background: #0f614e;
  padding: 20px;
}

.contact .contact-my-form fieldset .name,
.contact .contact-my-form fieldset .email {
  border: none;
  border-bottom: 1px solid #86e0f9;
}

.contact .contact-my-form fieldset textarea {
  width: 100%;
  margin-top: 50px;
  border: 1px solid #86e0f9;
}

.contact .contact-my-form fieldset input[type="submit"] {
  width: 100%;
  background: #0c1423;
  color: #fff;
  margin-top: 50px;
  padding: 15px;
  border: none;
}

.contact-info {
  border: 1px solid blue;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: -40px;
}

.contact-info a {
  margin-right: 20px;
  font-size: 2.2rem;
}

.contact-info p {
  margin: 0;
}

.contact-info p.upper {
  padding: 10px 0;
  font-weight: bold;
}

footer {
  text-align: center;
  color: #0c1423;
  padding: 10px 0;
}

footer p {
  margin: 0;
}
